.wrapper {
  max-width: 50rem;
  margin: auto;
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Grandstander', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 190px;
  isolation: isolate;
  position: relative;
}

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 16px;
  position: relative;
  top: 1rem;
}

.fakebutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 8rem;
  width: 26rem;
  height: 75px;
  background: #3498DB;
  border: 2px solid #FFFCFC;
  border-radius: 5px;
  color: #FFFCFC;
  font-family: 'Grandstander', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.3px;
  /* cursor: pointer; */
  transition: background 0.3s ease;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 8rem;
  width: 26rem;
  height: 75px;
  background: #3498DB;
  border: 2px solid #FFFCFC;
  border-radius: 5px;
  color: #FFFCFC;
  font-family: 'Grandstander', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #2874A6;
}

.choice {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 26rem;
  top: 2rem;
  border: 1px #FFFCFC;
  background: #FFFCFC;
  margin-bottom: 2rem;
}

.current-date {
  font-size: 1.5rem;
  color: black;
}

.arrow {
  user-select: none;
  cursor: pointer;
}

/* .icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
} */

.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 22rem;
  padding: 2rem;
  background: #FFFCFC;
}

.weeks, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}

.weeks li {
  color: black;
}

.days button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  color: black; /* Ensure all numbers have black color */
}

.days button.inactive {
  background: #b0b0b0; /* Darker gray for past days */
}

.days button.weekend {
  background: #808080; /* Even darker gray for weekends */
}

.days button.ida {
  background: linear-gradient(to bottom, lightgreen 49.9%, lightcoral 50%);
}

.days button.volta {
  background: linear-gradient(to bottom, lightcoral 49.9%, lightgreen 50%);
}

.days button.dupla {
  background: lightgreen;
}

.days button.nada {
  background: lightcoral;
}

.days button.unknow {
  background: white;
}

.days button.other-month {
  background: #ccc; /* Lighter gray for days of other months */
  color: #aaa; /* Lighter color for numbers of other months */
}

.days button.dark-ida {
  background: linear-gradient(to bottom, darkgreen 49.9%, darkred 50%) !important;
}

.days button.dark-volta {
  background: linear-gradient(to bottom, darkred 49.9%, darkgreen 50%) !important;
}

.days button.dark-dupla {
  background: darkgreen !important;
}

.days button.dark-nada {
  background: darkred !important;
}