.tela-inicial {
    position: relative;
    background: #BAE6FD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo para o topo */
    align-items: center;
    height: 300vh;
    padding-top: 100px; /* Ajuste para descer ou subir */
  }
  
  
  /* Wrapper que agrupa logo + botões */
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* espaçamento vertical entre elementos */
    margin-top: -50px; /* Sobe todo o conteúdo */
  }
  
  /* Logo */
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo {
    width: 300px;
  }
  
  /* Grupo de botões (se quiser subir só os botões) */
  .botoes-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre botões */
    margin-top: -30px; /* Ajuste esse valor para subir mais */
    width: 300px;
  }
  
  /* Botão Genérico */
  .botao {
    width: 300px;
    height: 300px;
    background: #3498DB;
    border: 2px solid #FFFCFC;
    border-radius: 5px;
    color: #FFFCFC;
    font-family: 'Grandstander', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.3px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .botao:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  