@font-face {
    font-family: "Grandstander";
    src: local("Grandstander"),
    url(../Grandstander/Grandstander-VariableFont_wght.ttf) format("truetype");
}

* {
    color: #FFFFFF;
    font-family: "Grandstander";
    font-weight: bold;
}

body {
    background-color: #BAE6FD;
}

.mainInput {
    font-size: 1.3em;
    color: #000000;

    margin-top: 3%;
    padding: 2%;
    width: 80%;

    border-radius: 8%;

    background-color: #FFFFFF;
}

.mainButton {
    background-color: #3498DB;

    color: #FFFFFF;
    font-size: 1.2em;

    margin-top: 3%;
    padding: 2%;
    width: 85%;

    border-radius: 0.8rem;
    
}

.mainLink {
    text-decoration: none;
}

.divInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.divList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.divListTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
    padding-left: 5%;
    padding-right: 8%;
    background-color: #B9B9B9;
    width: 67%;
    height: 3em;

    border: 0.15em solid #FFFFFF;
    font-size: 0.8em;
}

.divListItens {
    margin: 0;
    padding-top: 2%;
    width: 80%;    
}

.listItens {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3em;
    margin-bottom: 5%;
}

.listImage {
    margin-top: 0.05em;
    width: 2.9em;
}

.listUser {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 70%;
    padding: 0.4em;

    background-color: #FFFFFF;

    border: 0.15em solid #000000;
}

.listUserName {
    color: #000000;
}


.divSucces {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.9rem;

    background-color: #8CB775;

    width: 80%;
    height: 2rem;

    border: 0.15em solid #ffffff;
    border-radius: 0.8rem;
}


.divError{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    
    background-color: #B77575;

    width: 80%;
    height: 2rem;

    border: 0.15em solid #ffffff;
    border-radius: 0.8rem;
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divHeader{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;    
    margin: 2rem;
}

.divHeader img {
    margin: 1rem;
    width: 5rem;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 300px;
}

.modal-content-forget_password {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: #333; 
  max-width: 300px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  }

.text_forget_password {
    color: #007bff;
}

.input_forget_password {
    margin-top: 10px;
    padding: 10px;
}


.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 20px;
  border: 8px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #3498DB;
  color: white;
}