.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BAE6FD;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4rem; 
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px; 
  }
  
  button {
    padding: 15px 30px; 
    border: none;
    border-radius: 25px; 
    font-size: 18px;
    font-weight: 600; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .btn-motorista {
    background-color: white;
    color: #007bff;
  }
  
  .btn-passageiro {
    background-color: white;
    color: #007bff;
  }
  

  .btn-motorista:hover, 
  .btn-passageiro:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #007bff;
    color: white;
  }
  
  .btn-motorista:active,
  .btn-passageiro:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }