@font-face {
    font-family: "Grandstander";
    src: local("Grandstander"),
    url(../Grandstander/Grandstander-VariableFont_wght.ttf) format("truetype");
}

* {
    background-color: #BAE6FD;
    color: #FFFFFF;
}

.mainInput {
    font-family: "Grandstander";
    font-weight: bold;
    font-size: 1.3em;

    margin-top: 3%;
    padding: 2%;
    width: 90%;

    border-radius: 8%;

    background-color: #FFFFFF;
}

.mainButton {
    background-color: #3498DB;

    color: #FFFFFF;
    font-family: "Grandstander";
    font-weight: bold;
    font-size: 1.3em;

    margin-top: 3%;
    padding: 2%;
    width: 95%;

    border-radius: 8%;
    
}

.divInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}