@font-face {
    font-family: "Grandstander";
    src: local("Grandstander"),
    url(../Grandstander/Grandstander-VariableFont_wght.ttf) format("truetype");
}

* {
    background-color: #BAE6FD;
    color: #FFFFFF;
}

.mainInput {
    font-family: "Grandstander";
    font-weight: bold;
    font-size: 1.3em;
    color: #000000;

    margin-top: 3%;
    padding: 2%;
    width: 80%;

    border-radius: 8%;

    background-color: #FFFFFF;
}

.mainButton {
    background-color: #3498DB;

    color: #FFFFFF;
    font-family: "Grandstander";
    font-weight: bold;
    font-size: 1.2em;

    margin-top: 3%;
    padding: 2%;
    width: 85%;

    border-radius: 8%;
    
}

.mainLink {
    background-color: #3498DB;
    text-decoration: none;
}

.divInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
}

.divLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.divList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    
    font-family: "Grandstander";
    font-weight: bold;
}

.divListTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #B9B9B9;
    width: 64%;
    height: 2.75em;

    border: 0.15em solid #FFFFFF;
}
.listTop {
    background-color: #B9B9B9;
}

.divListItens {
    margin: 0;
    padding: 3%;
    width: 82%;
}

.listItens {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
    height: 2em;
}

.listImage {
    width: 2em;
}

.listUser {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 65%;
    padding: 0.4em;

    background-color: #FFFFFF;

    border: 0.15em solid #000000;
}

.listUserName {
    background-color: #FFFFFF;
    color: #000000;
}

.listUserCheck {
    background-color: #FFFFFF;
}